@charset "UTF-8";

body, html {
    height: 100%;
    margin: 0;
}

body{
	padding:2%;
	background: radial-gradient(black, #bebebe);
		
}

#bg{
	height:100%;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.container{
	text-align:center
}

#form{
	margin-top:15%
}

.btn{
	height:100%;
	width:100%;
}

#submit{
	background-color: #000000;
	border-color: #e69900;
	font-size: 120%;
	color: #e69900;
	font-weight:bold;
}