@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic|Francois+One);

body {font:normal 16px/22px 'Carrois Gothic',Arial,Helvetica;	background:#111;color: #ccc;}
@font-face {
    font-family: 'rieslingregular';
    src: url('riesling-webfont.eot');
    src: url('riesling-webfont.eot?#iefix') format('embedded-opentype'),
         url('riesling-webfont.woff2') format('woff2'),
         url('riesling-webfont.woff') format('woff'),
         url('riesling-webfont.ttf') format('truetype'),
         url('riesling-webfont.svg#rieslingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{ 
	font-weight:normal;
	padding: 0;
	margin: 0;
	color: #fff;
}
h1,h2,h3{ font-family: 'Francois One',Arial,Helvetica;}
h4,h5,h6{ font-family: 'Carrois Gothic',Arial,Helvetica;color: #ccc;}
h3{font-size: 28px;margin-bottom: 20px;color: #666;}
h3 span{font-size: 24px; }
h4{font-size: 23px; margin-bottom:20px;line-height:30px;}
h5{font-size: 20px;}

#MusicThieves{
	font-family: 'RieslingRegular';
	font-size: 1000%;
	color: #DAA520;
}

#subtitle{
	font-family: 'Garamond';
	font-size: 250%;
}

.radio-label{
	padding: 10px 15px 5px 15px;
}

#blockblack2{
	margin-top: 60px;
}

.filler{
	padding:6px;
}

#subButton{
	font-size: 20px;
}

small{color: #777;font-size: 13px;}
p{margin-bottom: 25px;}
blockquote {
	padding: 0px 20px;
	margin: 0 0 20px;
	border-left: 5px solid #aaa;
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	font-family: georgia;
}
.spacer{padding:30px 0 0 0;}
.center{text-align: center;}
.thumbnail{background-color:#fff;}

/*home*/
.homeinfo{padding:125px 0 20px 0;}
.homeinfo .player{margin-top: 70px;  position: relative;}
.homeinfo .player img.graphics{position: absolute;  bottom: 167px;  right: -24px;}
.blockblack{background:rgba(0,0,0,0.8);  border-radius: 10px;  padding: 25px; }
.fronttext h2{
	font-size:60px; 
	line-height:80px;
	display: inline-block;
	padding:20px 10px;
}
.fronttext p{
	margin:0;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	padding: 10px;
}
.overlay{z-index: 100;position: relative;}
/*home*/

/*color*/
.bgcolor{background-color: #f2ab00;}
.textcolor{color: #f2ab00;}
a{color:#f2ab00; text-decoration:none}
a:hover{color:#fff;text-decoration:none}
/*color*/

/*nav*/
.navbar-brand{padding: 10px 15px;}
.navbar-nav > li > a{font-size: 20px;}
.navbar-inverse{background: #000;border:none;}
.navbar{padding: 5px;}
.navbar-right{padding-top: 25px; }
.navbar-nav > li{padding-right: 15px}
.navbar-toggle{margin-top: 25px; margin-right: 15px}
/*nav*/

/*releases*/
.releases{margin-bottom: 20px;}
.releases .album{background-color: #222;  margin-bottom: 30px;}
.releases .album .albumdetail{padding: 10px;}
.releases .album .albumdetail h5{margin-bottom: 10px;}
.releases .album .albumdetail a{font-size:14px; }
/*releases*/

/*blog*/
.blogevent{color: #ccc;}
.blogevent ul{padding: 0;  list-style: none;  margin-top: 35px;}
.blogevent ul li{font-size: 13px;}
.blogevent ul li p{margin: 0;  line-height: 18px;}
.events ul li{background-color: #191919;  margin-bottom: 1px;}
.events ul li h5{margin: 7px 0;}
.events ul li .date{
	text-align: center;
	line-height: 38px;
	color: #444;
	text-shadow: 0px -1px 0px #000;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #111
}
.events ul li .date b{display: block;font-size: 30px;}
.events ul li .date span{font-size: 22px;}
.ourblog ul li{margin-bottom: 20px;}
.ourblog ul li img{float: left; margin-right: 20px;}
.ourblog ul li .blogtext{overflow: hidden;}
/*blog*/

/*modal*/
.modal-dialog{max-width: 800px; width: 95%;}
.modal-content{overflow: auto; padding:0 20px;color: #444;}
.modal-content h2{color: #222;margin: 15px 0;}
button.close{
	position: absolute;
	right: 0;
	background: #FFF;
	width: 25px;
	height: 25px;
	line-height: 9px;
}
#blog small{margin-bottom: 10px;display: block;}
/*modal*/

/*contact*/
.contactform textarea,.contactform input{
	width: 100%;
	padding:2%;
	border:1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 5px;
	outline: none;
}
.contactform .map{border:none;box-shadow:0;margin-top: 50px;}
.contactform button{border:none;width: 100%; padding: 7px 0;font-size: 25px;}
.contactform iframe{float: left;}
/*contact*/

#footer{
	background-color: #000; 
	padding: 5px 0; 
	font-size: 14px;
	margin-top: 50px; 
	z-index: 100;
	position: relative;
}

/*animation*/
#about,.album,.blogevent ul li,h3,h4{visibility: hidden;}
.animated{visibility: visible !important;}
/*animation*/

a.fancybox img {
	border: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	-o-transform: scale(1,1); 
	-ms-transform: scale(1,1); 
	-moz-transform: scale(1,1); 
	-webkit-transform: scale(1,1); 
	transform: scale(1,1); 
	-o-transition: all 0.2s ease-in-out; 
	-ms-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
	position: relative; 
	z-index: 999; 
	-o-transform: scale(1.03,1.03); 
	-ms-transform: scale(1.03,1.03); 
	-moz-transform: scale(1.03,1.03); 
	-webkit-transform: scale(1.03,1.03); 
	transform: scale(1.03,1.03);
}

@media (max-width: 648px) {
	#MusicThieves{
		margin-left: 10%;
		margin-right: 10%;
	}
	#subtitle{
		margin-left: 10%;
		margin-right: 10%;
	}
	#logo{
		margin-left: 5%;
	}
}
